<filter-textbox></filter-textbox>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Order Total</th>
        </tr>
    </thead>
    <tr>
        <td>
            <a>

            </a>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="4">No customers found</td>
    </tr>
</table>
Number of Customers:
<br />
